[kuro-scroller-wrapper] > .scroll-bar {
    position: absolute;
    right: 0;
    top: 0;
    width: .3em !important;
    height: 20%;
    min-height: 3em;
    background-color: orange;
    background-clip: content-box;
    z-index: 100;
    border-left: .5em solid transparent;
    transition-property: border-left-width, width, opacity, visibility;
    transition-duration: .2s;
    transition-delay: .4s, .4s, .6s, .6s;
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

[kuro-scroller-wrapper] > .scroll-bar:active,
[kuro-scroller-wrapper] > .scroll-bar.dragging {
    background-color: #FF7700;
}

[kuro-scroller-wrapper]:hover > .scroll-bar,
[kuro-scroller-wrapper].dragging > .scroll-bar,
[kuro-scroller-wrapper] > .scroll-bar.dragging {
    transition-delay: .4s, .4s, 0, 0;
    visibility: visible;
    opacity: 1;
}

[kuro-scroller-wrapper] > .scroll-bar:hover,
[kuro-scroller-wrapper].dragging > .scroll-bar,
[kuro-scroller-wrapper] > .scroll-bar.dragging {
    transition-delay: 0, 0, 0, 0;
    border-left-width: 0;
    width: .8em !important;
}

[kuro-scroller-wrapper].dragging [kuro-scroller] *,
[kuro-scroller-wrapper].scrolling [kuro-scroller] * {
    pointer-events: none;
}