@import "compass/layout";
@import "compass/css3";

#login {
    @include stretch;

    .login-box {
        @include stretch;
        max-height: 36em;
        margin: auto;
        padding: 2em;
        @include animation(fade-in 2s);
        @include user-select(none);
        overflow: auto;
        @include box-sizing(border-box);

        .big-logo {
            text-align: center;
            height: 100%;
            width: 100%;
            @include transform-origin(center, top);
            cursor: default;

            img {
                max-width: 100%;
                max-height: 100%;
                width: 36em;
                height: 36em;
                @include backface-visibility(hidden);
            }
        }

        .form-login {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            margin-bottom: 2em;
            height: 1.8em;

            input, .loading {
                height: 100%;
                display: block;
                margin: auto;
                @include box-sizing(border-box);
                border: none;
                @include backface-visibility(hidden);
            }

            input {
                width: 10em;
                border-radius: .9em;
                text-align: center;
                @include transition(opacity .4s, box-shadow .4s);

                &:focus {
                    box-shadow: 0 0 20px blue;
                }

                &.hide {
                    opacity: 0;
                }
            }

            .loading {
                position: absolute;
                left: 0;
                right: 0;
                height: 150%;

                &.ng-hide-remove {
                    @include animation(fade-in .4s);
                }
            }
        }

        .message {
            text-align: center;
            margin: 0;
            padding: 0;
            margin-top: .6em;
            font-size: .8em;

            &.ng-hide-remove {
                @include animation(fade-in .4s);
            }
        }
    }
}

wahu-login .join-us {
    position: absolute;
    top: 1em;
    right: 1em;
    color: white;
}