/* line 7, ../scss/k-player.scss */
k-player {
  background-color: white;
  color: black;
  position: relative;
  width: 100%;
  height: 35rem;
  display: block;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 16, ../scss/k-player.scss */
k-player:-webkit-full-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 25, ../scss/k-player.scss */
k-player .btn, k-player .btn-normal, k-player .main-area .btn-open, k-player .ctrl-bar .ctrl-btn, k-player .ctrl-bar .btn-play-pause, k-player .ctrl-bar .btn-send, k-player .ctrl-bar .btn-open, k-player .ctrl-bar .btn-fullscreen {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 33, ../scss/k-player.scss */
k-player .btn-normal {
  padding: .7rem 1rem;
  background-color: #6bf;
  color: white;
}
/* line 39, ../scss/k-player.scss */
k-player .btn-normal.hover {
  background-color: #7cf;
}
/* line 42, ../scss/k-player.scss */
k-player .btn-normal.active {
  background-color: #5af;
}
/* line 54, ../scss/k-player.scss */
k-player .main-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2.85rem;
  display: block;
  background-color: black;
  cursor: pointer;
}
/* line 64, ../scss/k-player.scss */
k-player .main-area canvas {
  width: 100%;
  height: 100%;
}
/* line 69, ../scss/k-player.scss */
k-player .main-area .btn-open {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: 2.6rem;
  width: 8rem;
  line-height: 2.6rem;
  margin: auto;
}
/* line 84, ../scss/k-player.scss */
k-player .time-bar-wrapper {
  position: absolute;
  bottom: 2.2rem;
  left: 0;
  right: 0;
  height: 2.7rem;
  cursor: pointer;
  z-index: 1;
}
/* line 93, ../scss/k-player.scss */
k-player .time-bar-wrapper .time-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: .4rem;
  height: 0.25rem;
  background-color: #aaa;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}
/* line 102, ../scss/k-player.scss */
k-player .time-bar-wrapper .time-bar .current-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #6bf;
}
/* line 111, ../scss/k-player.scss */
k-player .time-bar-wrapper .time-bar .cursor {
  display: none;
  position: absolute;
  top: -0.475rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  background-color: #6bf;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-box-shadow: 0 0.1rem 0.3rem #666;
  -webkit-box-shadow: 0 0.1rem 0.3rem #666;
  box-shadow: 0 0.1rem 0.3rem #666;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
}
/* line 123, ../scss/k-player.scss */
k-player .time-bar-wrapper .time-bar .cursor.hover {
  background-color: #7cf;
}
/* line 126, ../scss/k-player.scss */
k-player .time-bar-wrapper .time-bar .cursor.active {
  background-color: #5af;
}
/* line 132, ../scss/k-player.scss */
k-player .time-bar-wrapper .bar-tip {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #666;
  color: white;
  padding: .2rem;
  display: none;
  font-size: .8rem;
}
/* line 144, ../scss/k-player.scss */
k-player .time-bar-wrapper.hover .time-bar {
  height: 0.6rem;
}
/* line 147, ../scss/k-player.scss */
k-player .time-bar-wrapper.hover .time-bar .cursor {
  display: block;
  top: -0.3rem;
}
/* line 153, ../scss/k-player.scss */
k-player .time-bar-wrapper.hover .bar-tip {
  display: block;
}
/* line 159, ../scss/k-player.scss */
k-player .ctrl-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.6rem;
}
/* line 169, ../scss/k-player.scss */
k-player .ctrl-bar .ctrl-btn, k-player .ctrl-bar .btn-play-pause, k-player .ctrl-bar .btn-send, k-player .ctrl-bar .btn-open, k-player .ctrl-bar .btn-fullscreen {
  display: block;
  position: absolute;
  height: 2.6rem;
  line-height: 2.6rem;
  width: 2.6rem;
  color: #6bf;
  top: 0;
}
/* line 179, ../scss/k-player.scss */
k-player .ctrl-bar .ctrl-btn.hover, k-player .ctrl-bar .hover.btn-play-pause, k-player .ctrl-bar .hover.btn-send, k-player .ctrl-bar .hover.btn-open, k-player .ctrl-bar .hover.btn-fullscreen {
  color: #7cf;
}
/* line 182, ../scss/k-player.scss */
k-player .ctrl-bar .ctrl-btn.active, k-player .ctrl-bar .active.btn-play-pause, k-player .ctrl-bar .active.btn-send, k-player .ctrl-bar .active.btn-open, k-player .ctrl-bar .active.btn-fullscreen {
  color: #5af;
}
/* line 186, ../scss/k-player.scss */
k-player .ctrl-bar .ctrl-btn .text, k-player .ctrl-bar .btn-play-pause .text, k-player .ctrl-bar .btn-send .text, k-player .ctrl-bar .btn-open .text, k-player .ctrl-bar .btn-fullscreen .text {
  font-size: 1.2rem;
}
/* line 191, ../scss/k-player.scss */
k-player .ctrl-bar .btn-play-pause {
  left: 0;
}
/* line 196, ../scss/k-player.scss */
k-player .ctrl-bar .time {
  display: block;
  position: absolute;
  left: 2.6rem;
  top: 0;
  height: 2.6rem;
  width: 6rem;
  line-height: 2.6rem;
  text-align: center;
  cursor: default;
}
/* line 207, ../scss/k-player.scss */
k-player .ctrl-bar .time .current {
  color: #6bf;
}
/* line 212, ../scss/k-player.scss */
k-player .ctrl-bar .textbox-comment {
  display: block;
  border: 2px solid #ddd;
  position: absolute;
  padding: .3rem;
  height: 1rem;
  line-height: 1em;
  top: 0;
  bottom: 0;
  left: 9.4rem;
  right: 9.2rem;
  margin: auto;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}
/* line 227, ../scss/k-player.scss */
k-player .ctrl-bar .btn-send {
  right: 5.2rem;
  width: 4rem;
}
/* line 232, ../scss/k-player.scss */
k-player .ctrl-bar .btn-send .text {
  font-size: 1.1rem;
}
/* line 237, ../scss/k-player.scss */
k-player .ctrl-bar .btn-open {
  right: 2.6rem;
}
/* line 242, ../scss/k-player.scss */
k-player .ctrl-bar .btn-fullscreen {
  right: 0;
}
/* line 248, ../scss/k-player.scss */
k-player .iconfont {
  font-family: "iconfont-kplayer" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* line 256, ../scss/k-player.scss */
k-player .icon-wenjianku:before {
  content: "\e602";
}
/* line 258, ../scss/k-player.scss */
k-player .icon-quanping:before {
  content: "\e604";
}
/* line 260, ../scss/k-player.scss */
k-player .icon-zanting:before {
  content: "\e601";
}
/* line 262, ../scss/k-player.scss */
k-player .icon-bofang:before {
  content: "\e600";
}

@font-face {
  font-family: "iconfont-kplayer";
  src: url("/static/components/k-player/images/iconfonts/iconfont.eot");
  /* IE9*/
  src: url("/static/components/k-player/images/iconfonts/iconfont.eot?#iefix") format("embedded-opentype"), url("/static/components/k-player/images/iconfonts/iconfont.woff") format("woff"), url("/static/components/k-player/images/iconfonts/iconfont.ttf") format("truetype"), url("/static/components/k-player/images/iconfonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
