<div id="news">
	<div class="news-list k-scroller-wrapper hoverable" k-model="newsListScroller" ng-hide="stateIsDetail">
	  <ul class="news-list-inner k-scroller">
	    <li ng-repeat="news in newsList" ng-style="{width: liWidth, height: liHeight}">
	      <a class="activable" ng-class="{'no-thumb': !news.thumbSrc}" k-tap="openNews(news._id)">
	        <span class="thumb" ng-show="news.thumbSrc" ng-style="{'background-image': (news.thumbSrc ? 'url(\'' + news.thumbSrc + '\')' : 'none')}"></span>
	        <span class="title" ng-bind="news.title"></span>
	      </a>
	    </li>
	  </ul>
	</div>
  <div class="view-container" ui-view ng-show="stateIsDetail"></div>
</div>