/* line 11, ../scss/base.scss */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* line 15, ../scss/base.scss */
input, textarea, button, [contenteditable="true"] {
  font: inherit;
  outline: none;
  border: none;
}
/* line 20, ../scss/base.scss */
input::-moz-focus-inner, textarea::-moz-focus-inner, button::-moz-focus-inner, [contenteditable="true"]::-moz-focus-inner {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

/* line 28, ../scss/base.scss */
img {
  vertical-align: middle;
}

/* line 32, ../scss/base.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 37, ../scss/base.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 42, ../scss/base.scss */
body {
  position: relative;
  font-size: 12px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #33333d;
  -ms-touch-action: none;
  touch-action: none;
}

/* line 58, ../scss/base.scss */
.ipad.ios7 body {
  position: fixed;
  bottom: 0;
}

/* line 67, ../scss/base.scss */
#loading_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 100;
  text-align: center;
}
/* line 77, ../scss/base.scss */
#loading_cover.ng-hide {
  -moz-animation: fade-out 0.6s forwards;
  -webkit-animation: fade-out 0.6s forwards;
  animation: fade-out 0.6s forwards;
}
/* line 81, ../scss/base.scss */
#loading_cover h1 {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  font-size: 10em;
  font-family: Italiana, sans-serif;
  line-height: .82em;
}
/* line 91, ../scss/base.scss */
#loading_cover .progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #33333d;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
/* line 101, ../scss/base.scss */
#loading_cover p {
  position: absolute;
  top: 51%;
  left: 0;
  right: 0;
  font-size: 1.2em;
}

/* line 110, ../scss/base.scss */
#nav_bar {
  position: absolute;
  background-color: rgba(120, 200, 255, 0.3);
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
}
/* line 116, ../scss/base.scss */
#nav_bar li {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 3.3em;
  height: 3.3em;
  line-height: 3.3em;
}
/* line 127, ../scss/base.scss */
#nav_bar li a {
  display: block;
  text-align: center;
  cursor: pointer;
  color: white;
  text-shadow: 0 .1em 0 black;
}
/* line 134, ../scss/base.scss */
#nav_bar li a.hover {
  background-color: #7cf;
  text-shadow: 0 0.1em 0 #03c;
}
/* line 139, ../scss/base.scss */
#nav_bar li a.active {
  background-color: #7cf;
  -moz-box-shadow: inset 0 0 0.6em #03c;
  -webkit-box-shadow: inset 0 0 0.6em #03c;
  box-shadow: inset 0 0 0.6em #03c;
  text-shadow: 0 0.1em 0 #03c;
}
/* line 145, ../scss/base.scss */
#nav_bar li a .text {
  font-size: 1.65em;
}

/* line 152, ../scss/base.scss */
.container {
  position: absolute;
}
/* line 155, ../scss/base.scss */
.container.ng-hide-remove {
  -moz-animation: scale-enter 0.6s;
  -webkit-animation: scale-enter 0.6s;
  animation: scale-enter 0.6s;
}
/* line 158, ../scss/base.scss */
.container.ng-enter {
  -moz-animation: scale-enter 0.4s;
  -webkit-animation: scale-enter 0.4s;
  animation: scale-enter 0.4s;
}
/* line 161, ../scss/base.scss */
.container.ng-leave {
  -moz-animation: scale-leave 0.4s forwards;
  -webkit-animation: scale-leave 0.4s forwards;
  animation: scale-leave 0.4s forwards;
}

/* line 168, ../scss/base.scss */
.state-back .container.ng-enter {
  -moz-animation: scale-back-enter 0.4s;
  -webkit-animation: scale-back-enter 0.4s;
  animation: scale-back-enter 0.4s;
}
/* line 171, ../scss/base.scss */
.state-back .container.ng-leave {
  -moz-animation: scale-back-leave 0.4s forwards;
  -webkit-animation: scale-back-leave 0.4s forwards;
  animation: scale-back-leave 0.4s forwards;
}

/* line 178, ../scss/base.scss */
.wide-screen #nav_bar {
  left: 0;
  top: 0;
  bottom: 0;
  width: 3.3em;
}
/* line 184, ../scss/base.scss */
.wide-screen #nav_bar.ng-hide-remove {
  -moz-animation: slide-fade-in-left 0.6s;
  -webkit-animation: slide-fade-in-left 0.6s;
  animation: slide-fade-in-left 0.6s;
}
/* line 189, ../scss/base.scss */
.wide-screen .container {
  left: 3.3em;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 198, ../scss/base.scss */
.high-screen #nav_bar {
  left: 0;
  right: 0;
  bottom: 0;
  height: 3.3em;
}
/* line 204, ../scss/base.scss */
.high-screen #nav_bar.ng-hide-remove {
  -moz-animation: slide-fade-in-bottom 0.6s;
  -webkit-animation: slide-fade-in-bottom 0.6s;
  animation: slide-fade-in-bottom 0.6s;
}
/* line 209, ../scss/base.scss */
.high-screen .container {
  top: 0;
  bottom: 3.3em;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  /* line 218, ../scss/base.scss */
  body {
    font-size: 14px;
  }
}
@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local("Italiana"), local("Italiana-Regular"), url(/static/images/fonts/Italiana.woff2) format("woff2"), url(/static/images/fonts/Italiana.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "iconfont";
  src: url("/static/images/iconfont/iconfont.eot");
  /* IE9*/
  src: url("/static/images/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("/static/images/iconfont/iconfont.woff") format("woff"), url("/static/images/iconfont/iconfont.ttf") format("truetype"), url("/static/images/iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 242, ../scss/base.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 250, ../scss/base.scss */
.icon-bofang:before {
  content: "\e601";
}

/* line 252, ../scss/base.scss */
.icon-wenzhang:before {
  content: "\e603";
}

/* line 254, ../scss/base.scss */
.icon-yinleren:before {
  content: "\e602";
}

/* line 256, ../scss/base.scss */
.icon-jingmeibizhi:before {
  content: "\e604";
}

/* line 258, ../scss/base.scss */
.icon-wangzhandaohang:before {
  content: "\e600";
}

/* line 260, ../scss/base.scss */
.icon-bofang1:before {
  content: "\e605";
}

/* line 262, ../scss/base.scss */
.icon-zanting:before {
  content: "\e606";
}

/* line 264, ../scss/base.scss */
.icon-quanping:before {
  content: "\e609";
}

/* line 266, ../scss/base.scss */
.icon-suoxiao:before {
  content: "\e60a";
}

/* line 268, ../scss/base.scss */
.icon-kuaijin:before {
  content: "\e60b";
}

/* line 270, ../scss/base.scss */
.icon-kuaitui:before {
  content: "\e60c";
}

@-moz-keyframes slide-fade-in-left {
  from {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-fade-in-left {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-fade-in-left {
  from {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes slide-fade-in-bottom {
  from {
    -moz-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-fade-in-bottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-fade-in-bottom {
  from {
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes scale-enter {
  from {
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-enter {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-enter {
  from {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes scale-back-enter {
  from {
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-back-enter {
  from {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-back-enter {
  from {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes scale-leave {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes scale-leave {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes scale-leave {
  from {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@-moz-keyframes scale-back-leave {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes scale-back-leave {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes scale-back-leave {
  from {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-top {
  from {
    -moz-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-top {
  from {
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  from {
    -moz-transform: translateY(-2em);
    -ms-transform: translateY(-2em);
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-top {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
}
@keyframes fade-out-top {
  from {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(-2em);
    -ms-transform: translateY(-2em);
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-bottom {
  from {
    -moz-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bottom {
  from {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  from {
    -moz-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-bottom {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-bottom {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
}
@keyframes fade-out-bottom {
  from {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-right {
  from {
    -moz-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  from {
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  from {
    -moz-transform: translateX(2em);
    -ms-transform: translateX(2em);
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-right {
  from {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-right {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
}
@keyframes fade-out-right {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(2em);
    -ms-transform: translateX(2em);
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-left {
  from {
    -moz-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-left {
  from {
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  from {
    -moz-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-left {
  from {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
}
@keyframes fade-out-left {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
