/* line 1, ../scss/home.scss */
#home {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 8, ../scss/home.scss */
#home .menu-list {
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: absolute;
  top: 2%;
  left: 2%;
}
/* line 15, ../scss/home.scss */
#home .menu-list a {
  display: inline-block;
  padding: 1rem 1.6rem;
  color: white;
  text-align: center;
}
/* line 21, ../scss/home.scss */
#home .menu-list a.hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 24, ../scss/home.scss */
#home .menu-list a.active {
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 28, ../scss/home.scss */
#home .menu-list a .icon,
#home .menu-list a .text {
  display: block;
}
/* line 33, ../scss/home.scss */
#home .menu-list a .icon {
  font-size: 4rem;
  margin-bottom: .8rem;
}
/* line 38, ../scss/home.scss */
#home .menu-list a .text {
  font-size: 1.1rem;
}
/* line 44, ../scss/home.scss */
#home .datetime-box {
  display: block;
  cursor: default;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  right: 2%;
  bottom: 2%;
  text-align: right;
  padding: 1rem;
}
/* line 54, ../scss/home.scss */
#home .datetime-box .date,
#home .datetime-box .time,
#home .datetime-box .day {
  color: white;
}
/* line 60, ../scss/home.scss */
#home .datetime-box .time {
  font-size: 5rem;
  line-height: 0.9em;
}
/* line 65, ../scss/home.scss */
#home .datetime-box .date,
#home .datetime-box .day {
  font-size: 1.2rem;
  line-height: 1.2em;
}
