/* line 5, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../scss/base.scss */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* line 14, ../scss/base.scss */
input, textarea, button, [contenteditable="true"] {
  font: inherit;
  outline: none;
  border: none;
}
/* line 19, ../scss/base.scss */
input::-moz-focus-inner, textarea::-moz-focus-inner, button::-moz-focus-inner, [contenteditable="true"]::-moz-focus-inner {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

/* line 27, ../scss/base.scss */
img {
  vertical-align: middle;
}

/* line 31, ../scss/base.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 36, ../scss/base.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 41, ../scss/base.scss */
body {
  font-size: 12px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-image: url(/static/images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 57, ../scss/base.scss */
#nav_bar {
  position: absolute;
  background-color: rgba(120, 200, 255, 0.3);
  z-index: 10000;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 63, ../scss/base.scss */
#nav_bar li {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 3.3em;
  height: 3.3em;
  line-height: 3.3em;
}
/* line 74, ../scss/base.scss */
#nav_bar li a {
  display: block;
  text-align: center;
  cursor: pointer;
  color: white;
  text-shadow: 0 .1em 0 black;
}
/* line 81, ../scss/base.scss */
#nav_bar li a.hover {
  background-color: #7cf;
  text-shadow: 0 0.1em 0 #03c;
}
/* line 86, ../scss/base.scss */
#nav_bar li a.active, #nav_bar li a.active {
  background-color: #7cf;
  -moz-box-shadow: inset 0 0 0.6em #03c;
  -webkit-box-shadow: inset 0 0 0.6em #03c;
  box-shadow: inset 0 0 0.6em #03c;
  text-shadow: 0 0.1em 0 #03c;
}
/* line 93, ../scss/base.scss */
#nav_bar li a .text {
  font-size: 1.32em;
}

/* line 100, ../scss/base.scss */
.container {
  position: absolute;
}
/* line 103, ../scss/base.scss */
.container.ng-enter {
  -moz-animation: enter 0.4s;
  -webkit-animation: enter 0.4s;
  animation: enter 0.4s;
}
/* line 106, ../scss/base.scss */
.container.ng-leave {
  -moz-animation: leave 0.4s forwards;
  -webkit-animation: leave 0.4s forwards;
  animation: leave 0.4s forwards;
}

/* line 113, ../scss/base.scss */
.state-back .container.ng-enter {
  -moz-animation: back-enter 0.4s;
  -webkit-animation: back-enter 0.4s;
  animation: back-enter 0.4s;
}
/* line 116, ../scss/base.scss */
.state-back .container.ng-leave {
  -moz-animation: back-leave 0.4s forwards;
  -webkit-animation: back-leave 0.4s forwards;
  animation: back-leave 0.4s forwards;
}

/* line 123, ../scss/base.scss */
.wide-screen #nav_bar {
  left: 0;
  top: 0;
  bottom: 0;
  width: 3.3em;
}
/* line 130, ../scss/base.scss */
.wide-screen .container {
  left: 3.3em;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 139, ../scss/base.scss */
.high-screen #nav_bar {
  left: 0;
  right: 0;
  bottom: 0;
  height: 3.3em;
}
/* line 146, ../scss/base.scss */
.high-screen .container {
  top: 0;
  bottom: 3.3em;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  /* line 155, ../scss/base.scss */
  body {
    font-size: 14px;
  }
}
@font-face {
  font-family: "iconfont";
  src: url("/static/images/iconfont/iconfont.eot");
  /* IE9*/
  src: url("/static/images/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("/static/images/iconfont/iconfont.woff") format("woff"), url("/static/images/iconfont/iconfont.ttf") format("truetype"), url("/static/images/iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 168, ../scss/base.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 176, ../scss/base.scss */
.icon-bofang:before {
  content: "\e601";
}

/* line 178, ../scss/base.scss */
.icon-wenzhang:before {
  content: "\e603";
}

/* line 180, ../scss/base.scss */
.icon-yinleren:before {
  content: "\e602";
}

/* line 182, ../scss/base.scss */
.icon-jingmeibizhi:before {
  content: "\e604";
}

/* line 184, ../scss/base.scss */
.icon-wangzhandaohang:before {
  content: "\e600";
}

@-moz-keyframes enter {
  from {
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes enter {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes enter {
  from {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes back-enter {
  from {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes back-enter {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes back-enter {
  from {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes leave {
  from {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes leave {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes leave {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}
@-moz-keyframes back-leave {
  from {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}
@-webkit-keyframes back-leave {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes back-leave {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}
@-moz-keyframes enter-top {
  from {
    -moz-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes enter-top {
  from {
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes enter-top {
  from {
    -moz-transform: translateY(-2em);
    -ms-transform: translateY(-2em);
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes leave-top {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
}
@-webkit-keyframes leave-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
}
@keyframes leave-top {
  from {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(-2em);
    -ms-transform: translateY(-2em);
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
}
@-moz-keyframes enter-bottom {
  from {
    -moz-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes enter-bottom {
  from {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes enter-bottom {
  from {
    -moz-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes leave-bottom {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
}
@-webkit-keyframes leave-bottom {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
}
@keyframes leave-bottom {
  from {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
}
@-moz-keyframes enter-right {
  from {
    -moz-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes enter-right {
  from {
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes enter-right {
  from {
    -moz-transform: translateX(2em);
    -ms-transform: translateX(2em);
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes leave-right {
  from {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
}
@-webkit-keyframes leave-right {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
}
@keyframes leave-right {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(2em);
    -ms-transform: translateX(2em);
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
}
@-moz-keyframes enter-left {
  from {
    -moz-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes enter-left {
  from {
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes enter-left {
  from {
    -moz-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes leave-left {
  from {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
}
@-webkit-keyframes leave-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
}
@keyframes leave-left {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 1, ../scss/home.scss */
#home {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 6, ../scss/home.scss */
#home .menu-list {
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: absolute;
  top: 2%;
  left: 2%;
}
/* line 13, ../scss/home.scss */
#home .menu-list a {
  display: inline-block;
  padding: .5em 1em;
  font-size: 2em;
  color: white;
}
/* line 19, ../scss/home.scss */
#home .menu-list a:before {
  font-size: 2em;
  display: block;
  margin-bottom: .2em;
}
/* line 25, ../scss/home.scss */
#home .menu-list a.hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 28, ../scss/home.scss */
#home .menu-list a.active {
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 32, ../scss/home.scss */
#home .menu-list a .text {
  display: block;
}
/* line 38, ../scss/home.scss */
#home .datetime-box {
  cursor: default;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  right: 4%;
  bottom: 4%;
  text-align: right;
  padding: 1em;
}
/* line 47, ../scss/home.scss */
#home .datetime-box .date,
#home .datetime-box .time,
#home .datetime-box .day {
  color: white;
}
/* line 53, ../scss/home.scss */
#home .datetime-box .time {
  font-size: 6em;
  line-height: 0.9em;
}
/* line 58, ../scss/home.scss */
#home .datetime-box .date,
#home .datetime-box .day {
  font-size: 1.6em;
  line-height: 1.2em;
}

/* line 1, ../scss/video.scss */
#video,
#video k-player {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 4, ../scss/admin/login.scss */
#login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 7, ../scss/admin/login.scss */
#login .login-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 36em;
  margin: auto;
  padding: 2em;
  -moz-animation: fade-in 2s;
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 17, ../scss/admin/login.scss */
#login .login-box .big-logo {
  text-align: center;
  height: 100%;
  width: 100%;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  cursor: default;
}
/* line 24, ../scss/admin/login.scss */
#login .login-box .big-logo img {
  max-width: 100%;
  max-height: 100%;
  width: 36em;
  height: 36em;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 33, ../scss/admin/login.scss */
#login .login-box .form-login {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 2em;
  height: 1.8em;
}
/* line 42, ../scss/admin/login.scss */
#login .login-box .form-login input, #login .login-box .form-login .loading {
  height: 100%;
  display: block;
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 51, ../scss/admin/login.scss */
#login .login-box .form-login input {
  width: 10em;
  border-radius: .9em;
  text-align: center;
  -moz-transition: opacity 0.4s, box-shadow 0.4s;
  -o-transition: opacity 0.4s, box-shadow 0.4s;
  -webkit-transition: opacity 0.4s, box-shadow 0.4s;
  transition: opacity 0.4s, box-shadow 0.4s;
}
/* line 57, ../scss/admin/login.scss */
#login .login-box .form-login input:focus {
  box-shadow: 0 0 20px blue;
}
/* line 61, ../scss/admin/login.scss */
#login .login-box .form-login input.hide {
  opacity: 0;
}
/* line 66, ../scss/admin/login.scss */
#login .login-box .form-login .loading {
  position: absolute;
  left: 0;
  right: 0;
  height: 150%;
}
/* line 72, ../scss/admin/login.scss */
#login .login-box .form-login .loading.ng-hide-remove {
  -moz-animation: fade-in 0.4s;
  -webkit-animation: fade-in 0.4s;
  animation: fade-in 0.4s;
}
/* line 78, ../scss/admin/login.scss */
#login .login-box .message {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: .6em;
  font-size: .8em;
}
/* line 85, ../scss/admin/login.scss */
#login .login-box .message.ng-hide-remove {
  -moz-animation: fade-in 0.4s;
  -webkit-animation: fade-in 0.4s;
  animation: fade-in 0.4s;
}

/* line 92, ../scss/admin/login.scss */
wahu-login .join-us {
  position: absolute;
  top: 1em;
  right: 1em;
  color: white;
}
