/* line 5, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../scss/base.scss */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* line 14, ../scss/base.scss */
input, textarea, button, [contenteditable="true"] {
  font: inherit;
  outline: none;
  border: none;
}
/* line 19, ../scss/base.scss */
input::-moz-focus-inner, textarea::-moz-focus-inner, button::-moz-focus-inner, [contenteditable="true"]::-moz-focus-inner {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

/* line 27, ../scss/base.scss */
img {
  vertical-align: middle;
}

/* line 31, ../scss/base.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 36, ../scss/base.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 41, ../scss/base.scss */
body {
  position: relative;
  font-size: 12px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 54, ../scss/base.scss */
.ipad.ios7 body {
  position: fixed;
  bottom: 0;
}

/* line 63, ../scss/base.scss */
#loading_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 100;
  text-align: center;
  color: #33333d;
}
/* line 76, ../scss/base.scss */
#loading_cover.ng-hide {
  -moz-animation: fade-out 1s forwards;
  -webkit-animation: fade-out 1s forwards;
  animation: fade-out 1s forwards;
}
/* line 80, ../scss/base.scss */
#loading_cover h1 {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  font-size: 10em;
  font-family: Italiana, sans-serif;
  line-height: .82em;
}
/* line 90, ../scss/base.scss */
#loading_cover .progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #33333d;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
/* line 100, ../scss/base.scss */
#loading_cover p {
  position: absolute;
  top: 51%;
  left: 0;
  right: 0;
  font-size: 1.2em;
}

/* line 109, ../scss/base.scss */
#nav_bar {
  position: absolute;
  background-color: rgba(120, 200, 255, 0.3);
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
}
/* line 115, ../scss/base.scss */
#nav_bar li {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 3.3em;
  height: 3.3em;
  line-height: 3.3em;
}
/* line 126, ../scss/base.scss */
#nav_bar li a {
  display: block;
  text-align: center;
  cursor: pointer;
  color: white;
  text-shadow: 0 .1em 0 black;
}
/* line 133, ../scss/base.scss */
#nav_bar li a.hover {
  background-color: #7cf;
  text-shadow: 0 0.1em 0 #03c;
}
/* line 138, ../scss/base.scss */
#nav_bar li a.active {
  background-color: #7cf;
  -moz-box-shadow: inset 0 0 0.6em #03c;
  -webkit-box-shadow: inset 0 0 0.6em #03c;
  box-shadow: inset 0 0 0.6em #03c;
  text-shadow: 0 0.1em 0 #03c;
}
/* line 144, ../scss/base.scss */
#nav_bar li a .text {
  font-size: 1.65em;
}

/* line 151, ../scss/base.scss */
.container {
  position: absolute;
}
/* line 154, ../scss/base.scss */
.container.ng-hide-remove {
  -moz-animation: scale-enter 1s;
  -webkit-animation: scale-enter 1s;
  animation: scale-enter 1s;
}
/* line 157, ../scss/base.scss */
.container.ng-enter {
  -moz-animation: scale-enter 0.4s;
  -webkit-animation: scale-enter 0.4s;
  animation: scale-enter 0.4s;
}
/* line 160, ../scss/base.scss */
.container.ng-leave {
  -moz-animation: scale-leave 0.4s forwards;
  -webkit-animation: scale-leave 0.4s forwards;
  animation: scale-leave 0.4s forwards;
}

/* line 167, ../scss/base.scss */
.state-back .container.ng-enter {
  -moz-animation: scale-back-enter 0.4s;
  -webkit-animation: scale-back-enter 0.4s;
  animation: scale-back-enter 0.4s;
}
/* line 170, ../scss/base.scss */
.state-back .container.ng-leave {
  -moz-animation: scale-back-leave 0.4s forwards;
  -webkit-animation: scale-back-leave 0.4s forwards;
  animation: scale-back-leave 0.4s forwards;
}

/* line 177, ../scss/base.scss */
.wide-screen #nav_bar {
  left: 0;
  top: 0;
  bottom: 0;
  width: 3.3em;
  -moz-animation: slide-fade-in-left 1s;
  -webkit-animation: slide-fade-in-left 1s;
  animation: slide-fade-in-left 1s;
}
/* line 185, ../scss/base.scss */
.wide-screen .container {
  left: 3.3em;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 194, ../scss/base.scss */
.high-screen #nav_bar {
  left: 0;
  right: 0;
  bottom: 0;
  height: 3.3em;
  -moz-animation: slide-fade-in-bottom 1s;
  -webkit-animation: slide-fade-in-bottom 1s;
  animation: slide-fade-in-bottom 1s;
}
/* line 202, ../scss/base.scss */
.high-screen .container {
  top: 0;
  bottom: 3.3em;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  /* line 211, ../scss/base.scss */
  body {
    font-size: 14px;
  }
}
@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local("Italiana"), local("Italiana-Regular"), url(/static/images/fonts/Italiana.woff2) format("woff2"), url(/static/images/fonts/Italiana.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "iconfont";
  src: url("/static/images/iconfont/iconfont.eot");
  /* IE9*/
  src: url("/static/images/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("/static/images/iconfont/iconfont.woff") format("woff"), url("/static/images/iconfont/iconfont.ttf") format("truetype"), url("/static/images/iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 235, ../scss/base.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 243, ../scss/base.scss */
.icon-bofang:before {
  content: "\e601";
}

/* line 245, ../scss/base.scss */
.icon-wenzhang:before {
  content: "\e603";
}

/* line 247, ../scss/base.scss */
.icon-yinleren:before {
  content: "\e602";
}

/* line 249, ../scss/base.scss */
.icon-jingmeibizhi:before {
  content: "\e604";
}

/* line 251, ../scss/base.scss */
.icon-wangzhandaohang:before {
  content: "\e600";
}

/* line 253, ../scss/base.scss */
.icon-bofang1:before {
  content: "\e605";
}

/* line 255, ../scss/base.scss */
.icon-zanting:before {
  content: "\e606";
}

/* line 257, ../scss/base.scss */
.icon-quanping:before {
  content: "\e609";
}

/* line 259, ../scss/base.scss */
.icon-suoxiao:before {
  content: "\e60a";
}

/* line 261, ../scss/base.scss */
.icon-kuaijin:before {
  content: "\e60b";
}

/* line 263, ../scss/base.scss */
.icon-kuaitui:before {
  content: "\e60c";
}

@-moz-keyframes slide-fade-in-left {
  from {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-fade-in-left {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-fade-in-left {
  from {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes slide-fade-in-bottom {
  from {
    -moz-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-fade-in-bottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-fade-in-bottom {
  from {
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes scale-enter {
  from {
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-enter {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-enter {
  from {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes scale-back-enter {
  from {
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-back-enter {
  from {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-back-enter {
  from {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes scale-leave {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes scale-leave {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes scale-leave {
  from {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@-moz-keyframes scale-back-leave {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes scale-back-leave {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes scale-back-leave {
  from {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-top {
  from {
    -moz-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-top {
  from {
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  from {
    -moz-transform: translateY(-2em);
    -ms-transform: translateY(-2em);
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-top {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
}
@keyframes fade-out-top {
  from {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(-2em);
    -ms-transform: translateY(-2em);
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-bottom {
  from {
    -moz-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bottom {
  from {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  from {
    -moz-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-bottom {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-bottom {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
}
@keyframes fade-out-bottom {
  from {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(2em);
    -ms-transform: translateY(2em);
    -webkit-transform: translateY(2em);
    transform: translateY(2em);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-right {
  from {
    -moz-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  from {
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  from {
    -moz-transform: translateX(2em);
    -ms-transform: translateX(2em);
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-right {
  from {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-right {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
}
@keyframes fade-out-right {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(2em);
    -ms-transform: translateX(2em);
    -webkit-transform: translateX(2em);
    transform: translateX(2em);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-left {
  from {
    -moz-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-left {
  from {
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  from {
    -moz-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-left {
  from {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
}
@keyframes fade-out-left {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    -webkit-transform: translateX(-2em);
    transform: translateX(-2em);
    opacity: 0;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 1, ../scss/home.scss */
#home {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 6, ../scss/home.scss */
#home .menu-list {
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: absolute;
  top: 2%;
  left: 2%;
}
/* line 13, ../scss/home.scss */
#home .menu-list a {
  display: inline-block;
  padding: .5em 1em;
  font-size: 2em;
  color: white;
  text-align: center;
}
/* line 20, ../scss/home.scss */
#home .menu-list a.hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 23, ../scss/home.scss */
#home .menu-list a.active {
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 27, ../scss/home.scss */
#home .menu-list a .icon,
#home .menu-list a .text {
  display: block;
}
/* line 32, ../scss/home.scss */
#home .menu-list a .icon {
  font-size: 2em;
  margin-bottom: .2em;
}
/* line 37, ../scss/home.scss */
#home .menu-list a .text {
  font-size: .8em;
}
/* line 43, ../scss/home.scss */
#home .datetime-box {
  display: block;
  cursor: default;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  right: 4%;
  bottom: 4%;
  text-align: right;
  padding: 1em;
}
/* line 53, ../scss/home.scss */
#home .datetime-box .date,
#home .datetime-box .time,
#home .datetime-box .day {
  color: white;
}
/* line 59, ../scss/home.scss */
#home .datetime-box .time {
  font-size: 6em;
  line-height: 0.9em;
}
/* line 64, ../scss/home.scss */
#home .datetime-box .date,
#home .datetime-box .day {
  font-size: 1.6em;
  line-height: 1.2em;
}

/* line 1, ../scss/video.scss */
#video,
#video k-player {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 1, ../scss/music.scss */
#music {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}
/* line 7, ../scss/music.scss */
#music .background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .7;
  background-image: url(/static/images/temp_music_image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 18, ../scss/music.scss */
#music .title {
  position: absolute;
  top: 5%;
  left: 6%;
  right: 6%;
  font-size: 6em;
  color: white;
  cursor: default;
}
@media screen and (max-width: 768px) {
  /* line 18, ../scss/music.scss */
  #music .title {
    font-size: 4em;
  }
}
/* line 31, ../scss/music.scss */
#music .controls {
  position: absolute;
  bottom: 10%;
  left: 6%;
}
/* line 38, ../scss/music.scss */
#music .controls .btn, #music .controls .btn-pre,
#music .controls .btn-play,
#music .controls .btn-pause,
#music .controls .btn-next {
  display: inline-block;
  border: .2em solid white;
  border-radius: 50%;
  color: white;
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  cursor: pointer;
}
/* line 49, ../scss/music.scss */
#music .controls .btn.hover, #music .controls .hover.btn-pre,
#music .controls .hover.btn-play,
#music .controls .hover.btn-pause,
#music .controls .hover.btn-next {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 52, ../scss/music.scss */
#music .controls .btn.active, #music .controls .active.btn-pre,
#music .controls .active.btn-play,
#music .controls .active.btn-pause,
#music .controls .active.btn-next {
  border-color: black;
  background-color: black;
  color: white;
}
/* line 59, ../scss/music.scss */
#music .controls .btn-pre,
#music .controls .btn-play,
#music .controls .btn-pause,
#music .controls .btn-next {
  margin-right: 1em;
}
/* line 67, ../scss/music.scss */
#music .controls .btn-pre:before {
  position: relative;
  left: -.1em;
}
/* line 71, ../scss/music.scss */
#music .controls .btn-next:before {
  position: relative;
  left: .1em;
}

/* line 4, ../scss/admin/login.scss */
#login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 7, ../scss/admin/login.scss */
#login .login-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 36em;
  margin: auto;
  padding: 2em;
  -moz-animation: fade-in 2s;
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 17, ../scss/admin/login.scss */
#login .login-box .big-logo {
  text-align: center;
  height: 100%;
  width: 100%;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  cursor: default;
}
/* line 24, ../scss/admin/login.scss */
#login .login-box .big-logo img {
  max-width: 100%;
  max-height: 100%;
  width: 36em;
  height: 36em;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 33, ../scss/admin/login.scss */
#login .login-box .form-login {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 2em;
  height: 1.8em;
}
/* line 42, ../scss/admin/login.scss */
#login .login-box .form-login input, #login .login-box .form-login .loading {
  height: 100%;
  display: block;
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 51, ../scss/admin/login.scss */
#login .login-box .form-login input {
  width: 10em;
  border-radius: .9em;
  text-align: center;
  -moz-transition: opacity 0.4s, box-shadow 0.4s;
  -o-transition: opacity 0.4s, box-shadow 0.4s;
  -webkit-transition: opacity 0.4s, box-shadow 0.4s;
  transition: opacity 0.4s, box-shadow 0.4s;
}
/* line 57, ../scss/admin/login.scss */
#login .login-box .form-login input:focus {
  box-shadow: 0 0 20px blue;
}
/* line 61, ../scss/admin/login.scss */
#login .login-box .form-login input.hide {
  opacity: 0;
}
/* line 66, ../scss/admin/login.scss */
#login .login-box .form-login .loading {
  position: absolute;
  left: 0;
  right: 0;
  height: 150%;
}
/* line 72, ../scss/admin/login.scss */
#login .login-box .form-login .loading.ng-hide-remove {
  -moz-animation: fade-in 0.4s;
  -webkit-animation: fade-in 0.4s;
  animation: fade-in 0.4s;
}
/* line 78, ../scss/admin/login.scss */
#login .login-box .message {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: .6em;
  font-size: .8em;
}
/* line 85, ../scss/admin/login.scss */
#login .login-box .message.ng-hide-remove {
  -moz-animation: fade-in 0.4s;
  -webkit-animation: fade-in 0.4s;
  animation: fade-in 0.4s;
}

/* line 92, ../scss/admin/login.scss */
wahu-login .join-us {
  position: absolute;
  top: 1em;
  right: 1em;
  color: white;
}
