/* line 11, ../scss/base.scss */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* line 15, ../scss/base.scss */
input, textarea, button, [contenteditable="true"] {
  font: inherit;
  outline: none;
  border: none;
}
/* line 20, ../scss/base.scss */
input::-moz-focus-inner, textarea::-moz-focus-inner, button::-moz-focus-inner, [contenteditable="true"]::-moz-focus-inner {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

/* line 28, ../scss/base.scss */
img {
  vertical-align: middle;
}

/* line 32, ../scss/base.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 37, ../scss/base.scss */
html {
  width: 100%;
  height: 100%;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  /* line 37, ../scss/base.scss */
  html {
    font-size: 14px;
  }
}

/* line 46, ../scss/base.scss */
body {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #333;
  color: #33333d;
  -ms-touch-action: none;
  touch-action: none;
}
/* line 57, ../scss/base.scss */
body > .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 67, ../scss/base.scss */
body > .background.ng-enter {
  -moz-animation: fade-in 0.4s;
  -webkit-animation: fade-in 0.4s;
  animation: fade-in 0.4s;
}
/* line 70, ../scss/base.scss */
body > .background.ng-leave {
  -moz-animation: fade-out 0.4s forwards;
  -webkit-animation: fade-out 0.4s forwards;
  animation: fade-out 0.4s forwards;
}

/* line 77, ../scss/base.scss */
.ipad.ios7 body {
  position: fixed;
  bottom: 0;
}

/* line 83, ../scss/base.scss */
#loading-bar {
  position: absolute;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 90, ../scss/base.scss */
#loading-bar .bar {
  position: absolute;
  background-color: red;
}

/* line 99, ../scss/base.scss */
#loading_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 100;
  text-align: center;
}
/* line 109, ../scss/base.scss */
#loading_cover.ng-hide {
  -moz-animation: fade-out 0.6s forwards;
  -webkit-animation: fade-out 0.6s forwards;
  animation: fade-out 0.6s forwards;
}
/* line 113, ../scss/base.scss */
#loading_cover h1 {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  font-size: 10rem;
  font-family: Italiana, sans-serif;
  line-height: .82em;
}
/* line 123, ../scss/base.scss */
#loading_cover .progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #33333d;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
/* line 133, ../scss/base.scss */
#loading_cover p {
  position: absolute;
  top: 51%;
  left: 0;
  right: 0;
  font-size: 1.2rem;
}

/* line 142, ../scss/base.scss */
#nav_bar {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
}
/* line 148, ../scss/base.scss */
#nav_bar li {
  display: block;
  position: absolute;
  width: 3.3rem;
  height: 3.3rem;
  line-height: 3.3rem;
  margin: auto;
}
/* line 156, ../scss/base.scss */
#nav_bar li.home {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 164, ../scss/base.scss */
.wide-screen #nav_bar li.github {
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 170, ../scss/base.scss */
.high-screen #nav_bar li.github {
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 177, ../scss/base.scss */
#nav_bar li a {
  display: block;
  text-align: center;
  cursor: pointer;
  color: white;
}
/* line 183, ../scss/base.scss */
#nav_bar li a.hover {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 186, ../scss/base.scss */
#nav_bar li a.active {
  background-color: #7cf;
  -moz-box-shadow: inset 0 0 0.6rem #03c;
  -webkit-box-shadow: inset 0 0 0.6rem #03c;
  box-shadow: inset 0 0 0.6rem #03c;
}
/* line 191, ../scss/base.scss */
#nav_bar li a .text {
  font-size: 1.65rem;
}

/* line 198, ../scss/base.scss */
.container {
  position: absolute;
}
/* line 201, ../scss/base.scss */
.container.ng-hide-remove {
  -moz-animation: scale-enter 0.6s;
  -webkit-animation: scale-enter 0.6s;
  animation: scale-enter 0.6s;
}
/* line 204, ../scss/base.scss */
.container.ng-enter {
  -moz-animation: scale-enter 0.4s;
  -webkit-animation: scale-enter 0.4s;
  animation: scale-enter 0.4s;
}
/* line 207, ../scss/base.scss */
.container.ng-leave {
  -moz-animation: scale-leave 0.4s forwards;
  -webkit-animation: scale-leave 0.4s forwards;
  animation: scale-leave 0.4s forwards;
}

/* line 214, ../scss/base.scss */
.state-back .container.ng-enter {
  -moz-animation: scale-back-enter 0.4s;
  -webkit-animation: scale-back-enter 0.4s;
  animation: scale-back-enter 0.4s;
}
/* line 217, ../scss/base.scss */
.state-back .container.ng-leave {
  -moz-animation: scale-back-leave 0.4s forwards;
  -webkit-animation: scale-back-leave 0.4s forwards;
  animation: scale-back-leave 0.4s forwards;
}

/* line 224, ../scss/base.scss */
.wide-screen #nav_bar {
  left: 0;
  top: 0;
  bottom: 0;
  width: 3.3rem;
}
/* line 230, ../scss/base.scss */
.wide-screen #nav_bar.ng-hide-remove {
  -moz-animation: slide-fade-in-left 0.6s;
  -webkit-animation: slide-fade-in-left 0.6s;
  animation: slide-fade-in-left 0.6s;
}
/* line 235, ../scss/base.scss */
.wide-screen .container {
  left: 3.3rem;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 244, ../scss/base.scss */
.high-screen #nav_bar {
  left: 0;
  right: 0;
  bottom: 0;
  height: 3.3rem;
}
/* line 250, ../scss/base.scss */
.high-screen #nav_bar.ng-hide-remove {
  -moz-animation: slide-fade-in-bottom 0.6s;
  -webkit-animation: slide-fade-in-bottom 0.6s;
  animation: slide-fade-in-bottom 0.6s;
}
/* line 255, ../scss/base.scss */
.high-screen .container {
  top: 0;
  bottom: 3.3rem;
  left: 0;
  right: 0;
}

@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local("Italiana"), local("Italiana-Regular"), url(/static/images/fonts/Italiana.woff2) format("woff2"), url(/static/images/fonts/Italiana.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "iconfont";
  src: url("/static/images/iconfont/iconfont.eot");
  /* IE9*/
  src: url("/static/images/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("/static/images/iconfont/iconfont.woff") format("woff"), url("/static/images/iconfont/iconfont.ttf") format("truetype"), url("/static/images/iconfont/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 282, ../scss/base.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 290, ../scss/base.scss */
.icon-github:before {
  content: "\e607";
}

/* line 292, ../scss/base.scss */
.icon-bofang:before {
  content: "\e601";
}

/* line 294, ../scss/base.scss */
.icon-wenzhang:before {
  content: "\e603";
}

/* line 296, ../scss/base.scss */
.icon-yinleren:before {
  content: "\e602";
}

/* line 298, ../scss/base.scss */
.icon-jingmeibizhi:before {
  content: "\e604";
}

/* line 300, ../scss/base.scss */
.icon-wangzhandaohang:before {
  content: "\e600";
}

/* line 302, ../scss/base.scss */
.icon-bofang1:before {
  content: "\e605";
}

/* line 304, ../scss/base.scss */
.icon-zanting:before {
  content: "\e606";
}

/* line 306, ../scss/base.scss */
.icon-quanping:before {
  content: "\e609";
}

/* line 308, ../scss/base.scss */
.icon-suoxiao:before {
  content: "\e60a";
}

/* line 310, ../scss/base.scss */
.icon-kuaijin:before {
  content: "\e60b";
}

/* line 312, ../scss/base.scss */
.icon-kuaitui:before {
  content: "\e60c";
}

@-moz-keyframes slide-fade-in-left {
  from {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-fade-in-left {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-fade-in-left {
  from {
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes slide-fade-in-bottom {
  from {
    -moz-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-fade-in-bottom {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-fade-in-bottom {
  from {
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes scale-enter {
  from {
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-enter {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-enter {
  from {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes scale-back-enter {
  from {
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-back-enter {
  from {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-back-enter {
  from {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes scale-leave {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes scale-leave {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes scale-leave {
  from {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@-moz-keyframes scale-back-leave {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes scale-back-leave {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes scale-back-leave {
  from {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-top {
  from {
    -moz-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-top {
  from {
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  from {
    -moz-transform: translateY(-0.3rem);
    -ms-transform: translateY(-0.3rem);
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-top {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-top {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    opacity: 0;
  }
}
@keyframes fade-out-top {
  from {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(-0.3rem);
    -ms-transform: translateY(-0.3rem);
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-bottom {
  from {
    -moz-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bottom {
  from {
    -webkit-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  from {
    -moz-transform: translateY(0.3rem);
    -ms-transform: translateY(0.3rem);
    -webkit-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-bottom {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-bottom {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
    opacity: 0;
  }
}
@keyframes fade-out-bottom {
  from {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateY(0.3rem);
    -ms-transform: translateY(0.3rem);
    -webkit-transform: translateY(0.3rem);
    transform: translateY(0.3rem);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-right {
  from {
    -moz-transform: translateX(0.3rem);
    transform: translateX(0.3rem);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  from {
    -webkit-transform: translateX(0.3rem);
    transform: translateX(0.3rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  from {
    -moz-transform: translateX(0.3rem);
    -ms-transform: translateX(0.3rem);
    -webkit-transform: translateX(0.3rem);
    transform: translateX(0.3rem);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-right {
  from {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(0.3rem);
    transform: translateX(0.3rem);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-right {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0.3rem);
    transform: translateX(0.3rem);
    opacity: 0;
  }
}
@keyframes fade-out-right {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(0.3rem);
    -ms-transform: translateX(0.3rem);
    -webkit-transform: translateX(0.3rem);
    transform: translateX(0.3rem);
    opacity: 0;
  }
}
@-moz-keyframes fade-in-left {
  from {
    -moz-transform: translateX(-0.3rem);
    transform: translateX(-0.3rem);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-left {
  from {
    -webkit-transform: translateX(-0.3rem);
    transform: translateX(-0.3rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  from {
    -moz-transform: translateX(-0.3rem);
    -ms-transform: translateX(-0.3rem);
    -webkit-transform: translateX(-0.3rem);
    transform: translateX(-0.3rem);
    opacity: 0;
  }
  to {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes fade-out-left {
  from {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(-0.3rem);
    transform: translateX(-0.3rem);
    opacity: 0;
  }
}
@-webkit-keyframes fade-out-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-0.3rem);
    transform: translateX(-0.3rem);
    opacity: 0;
  }
}
@keyframes fade-out-left {
  from {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  to {
    -moz-transform: translateX(-0.3rem);
    -ms-transform: translateX(-0.3rem);
    -webkit-transform: translateX(-0.3rem);
    transform: translateX(-0.3rem);
    opacity: 0;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* line 4, ../scss/music.scss */
#music {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 14, ../scss/music.scss */
#music .main-area {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 18, ../scss/music.scss */
#music .main-area .title {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  color: white;
  cursor: default;
}
/* line 26, ../scss/music.scss */
#music .main-area .title .text {
  font-size: 4rem;
}
@media screen and (max-width: 1024px) {
  /* line 26, ../scss/music.scss */
  #music .main-area .title .text {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  /* line 26, ../scss/music.scss */
  #music .main-area .title .text {
    font-size: 2rem;
  }
}
/* line 37, ../scss/music.scss */
#music .main-area .lrc-list {
  position: absolute;
  left: 2rem;
  right: 2rem;
  height: 1.2rem;
  cursor: default;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 45, ../scss/music.scss */
.wide-screen #music .main-area .lrc-list {
  bottom: 2rem;
}
/* line 48, ../scss/music.scss */
.high-screen #music .main-area .lrc-list {
  bottom: 7.33333rem;
}
/* line 52, ../scss/music.scss */
#music .main-area .lrc-list li {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: right;
  color: white;
  font-size: 1.2rem;
}
/* line 61, ../scss/music.scss */
#music .main-area .lrc-list li.ng-hide {
  -moz-animation: fade-out-top 0.4s forwards;
  -webkit-animation: fade-out-top 0.4s forwards;
  animation: fade-out-top 0.4s forwards;
}
/* line 64, ../scss/music.scss */
#music .main-area .lrc-list li.ng-hide-remove {
  -moz-animation: fade-in-bottom 0.4s;
  -webkit-animation: fade-in-bottom 0.4s;
  animation: fade-in-bottom 0.4s;
}
/* line 70, ../scss/music.scss */
#music .main-area .controls {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  height: 3.33333rem;
}
/* line 76, ../scss/music.scss */
#music .main-area .controls .btn, #music .main-area .controls .btn-pre,
#music .main-area .controls .btn-play-pause,
#music .main-area .controls .btn-next {
  display: inline-block;
  border: 0.16667rem solid white;
  border-radius: 100%;
  color: white;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
/* line 88, ../scss/music.scss */
#music .main-area .controls .btn.hover, #music .main-area .controls .hover.btn-pre,
#music .main-area .controls .hover.btn-play-pause,
#music .main-area .controls .hover.btn-next {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 91, ../scss/music.scss */
#music .main-area .controls .btn.active, #music .main-area .controls .active.btn-pre,
#music .main-area .controls .active.btn-play-pause,
#music .main-area .controls .active.btn-next {
  border-color: black;
  background-color: black;
  color: white;
}
/* line 98, ../scss/music.scss */
#music .main-area .controls .btn-pre,
#music .main-area .controls .btn-play-pause,
#music .main-area .controls .btn-next {
  margin-right: 1rem;
}
/* line 105, ../scss/music.scss */
#music .main-area .controls .btn-pre:before {
  position: relative;
  left: -.1rem;
}
/* line 109, ../scss/music.scss */
#music .main-area .controls .btn-play-pause.icon-bofang1:before {
  position: relative;
  left: .1rem;
}
/* line 113, ../scss/music.scss */
#music .main-area .controls .btn-next:before {
  position: relative;
  left: .1rem;
}
/* line 120, ../scss/music.scss */
#music .music-list {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 126, ../scss/music.scss */
#music .music-list li {
  cursor: pointer;
  padding: .8rem 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-left: 0 solid #6bf;
  color: white;
  -moz-transition: border-left 0.2s;
  -o-transition: border-left 0.2s;
  -webkit-transition: border-left 0.2s;
  transition: border-left 0.2s;
}
/* line 143, ../scss/music.scss */
#music .music-list li.selected {
  border-left-width: .5rem;
}

/* line 153, ../scss/music.scss */
.wide-screen #music .main-area {
  left: 0;
  right: 16rem;
  top: 0;
  bottom: 0;
}
/* line 159, ../scss/music.scss */
.wide-screen #music .main-area.ng-enter {
  -moz-animation: fade-in 0.4s;
  -webkit-animation: fade-in 0.4s;
  animation: fade-in 0.4s;
}
/* line 162, ../scss/music.scss */
.wide-screen #music .main-area.ng-leave {
  -moz-animation: fade-out 0.4s forwards;
  -webkit-animation: fade-out 0.4s forwards;
  animation: fade-out 0.4s forwards;
}
/* line 166, ../scss/music.scss */
.wide-screen #music .music-list {
  top: 0;
  bottom: 0;
  right: 0;
  width: 16rem;
}

/* line 179, ../scss/music.scss */
.high-screen #music .main-area {
  left: 0;
  right: 0;
  top: 0;
  bottom: 38%;
}
/* line 186, ../scss/music.scss */
.high-screen #music .music-list {
  left: 0;
  right: 0;
  bottom: 0;
  height: 38%;
}
