/* line 7, ../scss/kplayer.scss */
k-player {
  background-color: white;
  color: black;
  position: relative;
  width: 100%;
  height: 35em;
  display: block;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 16, ../scss/kplayer.scss */
k-player:-webkit-full-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 25, ../scss/kplayer.scss */
k-player .btn, k-player .btn-normal, k-player .main-area .btn-open, k-player .ctrl-bar .ctrl-btn, k-player .ctrl-bar .btn-play,
k-player .ctrl-bar .btn-pause, k-player .ctrl-bar .btn-send, k-player .ctrl-bar .btn-open, k-player .ctrl-bar .btn-fullscreen {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 33, ../scss/kplayer.scss */
k-player .btn-normal {
  padding: .7em 1em;
  background-color: #6bf;
  color: white;
}
/* line 39, ../scss/kplayer.scss */
k-player .btn-normal.hover {
  background-color: #7cf;
}
/* line 42, ../scss/kplayer.scss */
k-player .btn-normal.active {
  background-color: #5af;
}
/* line 54, ../scss/kplayer.scss */
k-player .main-area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2.85em;
  display: block;
  background-color: black;
  cursor: pointer;
}
/* line 64, ../scss/kplayer.scss */
k-player .main-area canvas {
  width: 100%;
  height: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 70, ../scss/kplayer.scss */
k-player .main-area .btn-open {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  height: 2.6em;
  width: 8em;
  line-height: 2.6em;
  margin: auto;
}
/* line 85, ../scss/kplayer.scss */
k-player .time-bar-wrapper {
  position: absolute;
  bottom: 2.2em;
  left: 0;
  right: 0;
  height: 2.4em;
  cursor: pointer;
  z-index: 1;
}
/* line 94, ../scss/kplayer.scss */
k-player .time-bar-wrapper .time-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.4em;
  height: 0.25em;
  background-color: #aaa;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}
/* line 103, ../scss/kplayer.scss */
k-player .time-bar-wrapper .time-bar .current-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #6bf;
}
/* line 112, ../scss/kplayer.scss */
k-player .time-bar-wrapper .time-bar .cursor {
  display: none;
  position: absolute;
  top: -0.475em;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.6em;
  background-color: #6bf;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-box-shadow: 0 0.1em 0.3em #666;
  -webkit-box-shadow: 0 0.1em 0.3em #666;
  box-shadow: 0 0.1em 0.3em #666;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
}
/* line 124, ../scss/kplayer.scss */
k-player .time-bar-wrapper .time-bar .cursor.hover {
  background-color: #7cf;
}
/* line 127, ../scss/kplayer.scss */
k-player .time-bar-wrapper .time-bar .cursor.active {
  background-color: #5af;
}
/* line 133, ../scss/kplayer.scss */
k-player .time-bar-wrapper .bar-tip {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #666;
  color: white;
  padding: .2em;
  display: none;
  font-size: .8em;
}
/* line 145, ../scss/kplayer.scss */
k-player .time-bar-wrapper.hover .time-bar {
  height: 0.6em;
}
/* line 148, ../scss/kplayer.scss */
k-player .time-bar-wrapper.hover .time-bar .cursor {
  display: block;
  top: -0.3em;
}
/* line 154, ../scss/kplayer.scss */
k-player .time-bar-wrapper.hover .bar-tip {
  display: block;
}
/* line 160, ../scss/kplayer.scss */
k-player .ctrl-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.6em;
}
/* line 170, ../scss/kplayer.scss */
k-player .ctrl-bar .ctrl-btn, k-player .ctrl-bar .btn-play,
k-player .ctrl-bar .btn-pause, k-player .ctrl-bar .btn-send, k-player .ctrl-bar .btn-open, k-player .ctrl-bar .btn-fullscreen {
  display: block;
  position: absolute;
  height: 2.6em;
  line-height: 2.6em;
  width: 2.6em;
  color: #6bf;
  top: 0;
}
/* line 180, ../scss/kplayer.scss */
k-player .ctrl-bar .ctrl-btn.hover, k-player .ctrl-bar .hover.btn-play,
k-player .ctrl-bar .hover.btn-pause, k-player .ctrl-bar .hover.btn-send, k-player .ctrl-bar .hover.btn-open, k-player .ctrl-bar .hover.btn-fullscreen {
  color: #7cf;
}
/* line 183, ../scss/kplayer.scss */
k-player .ctrl-bar .ctrl-btn.active, k-player .ctrl-bar .active.btn-play,
k-player .ctrl-bar .active.btn-pause, k-player .ctrl-bar .active.btn-send, k-player .ctrl-bar .active.btn-open, k-player .ctrl-bar .active.btn-fullscreen {
  color: #5af;
}
/* line 187, ../scss/kplayer.scss */
k-player .ctrl-bar .ctrl-btn .text, k-player .ctrl-bar .btn-play .text,
k-player .ctrl-bar .btn-pause .text, k-player .ctrl-bar .btn-send .text, k-player .ctrl-bar .btn-open .text, k-player .ctrl-bar .btn-fullscreen .text {
  font-size: 1.2em;
}
/* line 192, ../scss/kplayer.scss */
k-player .ctrl-bar .btn-play,
k-player .ctrl-bar .btn-pause {
  left: 0;
}
/* line 198, ../scss/kplayer.scss */
k-player .ctrl-bar .time {
  display: block;
  position: absolute;
  left: 2.6em;
  top: 0;
  height: 2.6em;
  width: 6em;
  line-height: 2.6em;
  text-align: center;
}
/* line 208, ../scss/kplayer.scss */
k-player .ctrl-bar .time .current {
  color: #6bf;
}
/* line 213, ../scss/kplayer.scss */
k-player .ctrl-bar .textbox-comment {
  display: block;
  border: 2px solid #ddd;
  position: absolute;
  padding: .3em;
  height: 1em;
  line-height: 1em;
  top: 0;
  bottom: 0;
  left: 9.4em;
  right: 9.2em;
  margin: auto;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}
/* line 228, ../scss/kplayer.scss */
k-player .ctrl-bar .btn-send {
  right: 5.2em;
  width: 4em;
}
/* line 234, ../scss/kplayer.scss */
k-player .ctrl-bar .btn-open {
  right: 2.6em;
}
/* line 239, ../scss/kplayer.scss */
k-player .ctrl-bar .btn-fullscreen {
  right: 0;
}
/* line 245, ../scss/kplayer.scss */
k-player .iconfont {
  font-family: "iconfont-kplayer" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* line 253, ../scss/kplayer.scss */
k-player .icon-bofang:before {
  content: "\e600";
}
/* line 255, ../scss/kplayer.scss */
k-player .icon-zanting:before {
  content: "\e601";
}

@font-face {
  font-family: "iconfont-kplayer";
  src: url("/static/components/kplayer/images/iconfonts/iconfont.eot");
  /* IE9*/
  src: url("/static/components/kplayer/images/iconfonts/iconfont.eot?#iefix") format("embedded-opentype"), url("/static/components/kplayer/images/iconfonts/iconfont.woff") format("woff"), url("/static/components/kplayer/images/iconfonts/iconfont.ttf") format("truetype"), url("/static/components/kplayer/images/iconfonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
