<div id="music">
    <div class="main-area">
        <div class="background"></div>
        <div class="title">{{currentMusic.name}}</div>
        <ul class="lrc-list">
            <li ng-repeat="lrc in lrcList" ng-show="lrc.time === currentLrc.time">{{lrc.content}}</li>
        </ul>
        <div class="controls">
            <span class="btn-pre iconfont icon-kuaitui" k-tap="pre()"></span><!--
            --><span class="btn-play-pause iconfont icon-bofang1" ng-class="{'icon-bofang1': paused, 'icon-zanting': !paused}" k-tap="paused ? play() : pause()"></span><!--
            --><span class="btn-next iconfont icon-kuaijin" k-tap="next()"></span>
        </div>
    </div>
    <div k-scroller-wrapper class="music-list">
        <ul k-scroller>
            <li ng-class="{selected: music.name === currentMusic.name}" ng-repeat="music in musics track by $index" k-tap="play(music)">
                {{music.name}}
            </li>
        </ul>
    </div>
</div>