@import "compass/css3";

$baseColor: #6bf;
$baseColorHover: #7cf;
$baseColorActive: #5af;

k-player {
    background-color: white;
    color: black;
    position: relative;
    width: 100%;
    height: 35em;
    display: block;
    @include user-select(none);

    &:-webkit-full-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    // common start
    .btn {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        @include user-select(none);
        @include box-sizing(border-box);
    }

    .btn-normal {
        @extend .btn;
        padding: .7em 1em;
        background-color: $baseColor;
        color: white;

        &.hover {
            background-color: $baseColorHover;
        }
        &.active {
            background-color: $baseColorActive;
        }
    }
    // common end

    $ctrlbarHeight: 2.6em;
    $timebarHeight: .25em;
    $cursorSize: 1.2em;
    $timebarBoldHeight: .6em;
    $timeStringWidth: 6em;

    .main-area {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: $timebarHeight + $ctrlbarHeight;
        display: block;
        background-color: black;
        cursor: pointer;

        canvas {
            width: 100%;
            height: 100%;
            @include transform(translateZ(0));
        }

        .btn-open {
            @extend .btn;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0;
            height: 2.6em;
            width: 8em;
            line-height: 2.6em;
            margin: auto;
        }
    }

    .time-bar-wrapper {
        position: absolute;
        bottom: $ctrlbarHeight - 0.4em;
        left: 0;
        right: 0;
        height: $timebarBoldHeight * 4;
        cursor: pointer;
        z-index: 1;

        .time-bar {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0.4em;
            height: $timebarHeight;
            background-color: #aaa;
            @include transition(height .2s);

            .current-bar {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 0;
                background-color: $baseColor;
            }

            .cursor {
                display: none;
                position: absolute;
                top: ($timebarHeight - $cursorSize) / 2;
                width: $cursorSize;
                height: $cursorSize;
                border-radius: $cursorSize / 2;
                background-color: $baseColor;
                @include transform(translateX(0));
                @include box-shadow(0 .1em .3em #666);
                @include transition(top .2s);

                &.hover {
                    background-color: $baseColorHover;
                }
                &.active {
                    background-color: $baseColorActive;
                }
            }
        }

        .bar-tip {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #666;
            color: white;
            padding: .2em;
            display: none;
            font-size: .8em;
        }

        &.hover {
            .time-bar {
                height: $timebarBoldHeight;

                .cursor {
                    display: block;
                    top: ($timebarBoldHeight - $cursorSize) / 2;
                }
            }

            .bar-tip {
                display: block;
            }
        }
    }

    .ctrl-bar {
        $btnWidth: $ctrlbarHeight;
        $btnSendWidth: 4em;

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: $ctrlbarHeight;

        .ctrl-btn {
            @extend .btn;
            display: block;
            position: absolute;
            height: $btnWidth;
            line-height: $btnWidth;
            width: $btnWidth;
            color: $baseColor;
            top: 0;

            &.hover {
                color: $baseColorHover;
            }
            &.active {
                color: $baseColorActive;
            }

            .text {
                font-size: 1.2em;
            }
        }

        .btn-play-pause {
            @extend .ctrl-btn;
            left: 0;
        }

        .time {
            display: block;
            position: absolute;
            left: $btnWidth;
            top: 0;
            height: $ctrlbarHeight;
            width: $timeStringWidth;
            line-height: $ctrlbarHeight;
            text-align: center;

            .current {
                color: $baseColor;
            }
        }

        .textbox-comment {
            display: block;
            border: 2px solid #ddd;
            position: absolute;
            padding: .3em;
            height: 1em;
            line-height: 1em;
            top: 0;
            bottom: 0;
            left: $btnWidth + $timeStringWidth + .8em;
            right: $btnWidth * 2 + $btnSendWidth;
            margin: auto;
            @include user-select(text);
        }

        .btn-send {
            @extend .ctrl-btn;
            right: $btnWidth * 2;
            width: $btnSendWidth;
        }

        .btn-open {
            @extend .ctrl-btn;
            right: $btnWidth;
        }

        .btn-fullscreen {
            @extend .ctrl-btn;
            right: 0;
        }
    }

    .iconfont {
      font-family:"iconfont-kplayer" !important;
      font-style:normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
    }

    .icon-wenjianku:before { content: "\e602"; }

    .icon-quanping:before { content: "\e604"; }

    .icon-zanting:before { content: "\e601"; }

    .icon-bofang:before { content: "\e600"; }
}

@font-face {font-family: "iconfont-kplayer";
  src: url('/static/components/k-player/images/iconfonts/iconfont.eot'); /* IE9*/
  src: url('/static/components/k-player/images/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/components/k-player/images/iconfonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('/static/components/k-player/images/iconfonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('/static/components/k-player/images/iconfonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}