.k-scroller-wrapper > .scroll-bar {
  position: absolute;
  right: 0;
  top: 0;
  width: .25rem !important;
  height: 20%;
  min-height: 3rem;
  background-color: rgba(0, 0, 0, .3);
  background-clip: content-box;
  z-index: 100;
  border-left: .5rem solid transparent;
  transition-property: border-left-width, width, opacity, visibility;
  transition-duration: .2s;
  transition-delay: .4s, .4s, .6s, .6s;
  opacity: 0;
  visibility: hidden;
}

.k-scroller-wrapper > .scroll-bar.active,
.k-scroller-wrapper > .scroll-bar.dragging {
  background-color: rgba(0, 0, 0, .4);
}

.k-scroller-wrapper.hover > .scroll-bar,
.k-scroller-wrapper.dragging > .scroll-bar,
.k-scroller-wrapper.sliding > .scroll-bar,
.k-scroller-wrapper > .scroll-bar.dragging {
  transition-delay: .4s, .4s, 0, 0;
  visibility: visible;
  opacity: 1;
}

.k-scroller-wrapper > .scroll-bar.hover,
.k-scroller-wrapper.dragging > .scroll-bar,
.k-scroller-wrapper > .scroll-bar.dragging {
  transition-delay: 0, 0, 0, 0;
  border-left-width: 0;
}

.k-scroller-wrapper > .scroll-bar.hover,
.k-scroller-wrapper > .scroll-bar.dragging {
  width: .8rem !important;
}
