$font-stack: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$base-color: #6bf;
$base-color-light: #7cf;
$base-color-rich: #5af;
$base-color-big-rich: #03c;
$text-color: #222;