@import "compass/css3";

#home {
  position: absolute;
  width: 100%;
  height: 100%;

  $padding: 2%;
  $menu-list-inner-width: 26rem;
  $menu-list-inner-height: 7rem;


  .menu-list {
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: absolute;
    bottom: $padding;
    left: $padding;
    right: $padding;
    margin: auto;
    width: $menu-list-inner-width;

    .k-slider-wrapper {
      height: $menu-list-inner-height;

      a {
        display: inline-block;
        width: $menu-list-inner-width / 4;
        height: $menu-list-inner-height;
        color: white;
        text-align: center;
        position: relative;
        cursor: pointer;
        // @include transition(all .2s);
        // @include transform(translateZ(0)scale(1));

        &.active {
          // @include transform(translateZ(0)scale(.95));
          color: #999;
        }

        .icon,
        .text {
          position: absolute;
          left: 0;
          right: 0;
        }

        .icon {
          top: 15%;
          font-size: 3.5rem;
        }

        .text {
          bottom: 15%;
          font-size: 1rem;
        }
      }
    }

    .slider-nav {
      height: 16px;
      text-align: center;

      .circle {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: rgba(255,255,255,.5);
        margin: 0 3px;
        @include transform(translateZ(0));

        &.active {
          background-color: white;
        }
      }
    }
  }

  .datetime-box {
    display: block;
    cursor: default;
    position: absolute;
    background-color: rgba(0, 0, 0, .2);
    right: $padding;
    top: $padding;
    text-align: right;
    padding: 1rem;

    .date,
    .time,
    .day {
      color: white;
    }

    .time {
      font-size: 5rem;
      line-height: 0.9em;
    }

    .date,
    .day {
      font-size: 1.2rem;
      line-height: 1.2em;
    }
  }
}