@import "compass/css3";
@import "common.scss";

#news {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;

  .news-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;

    &.ng-hide-remove {
      @include animation(fade-in .4s);
    }
    &.ng-hide {
      @include animation(fade-out .4s forwards);
    }

    .news-list-inner {
      padding: 1rem;

      .refresh-hint {
        height: 100rem;
        line-height: 196rem;
        text-align: center;
        background-color: #333;
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        color: white;

        .content {
          position: relative;
          display: inline-block;
          width: 10rem;
        }
      }

      & {
        .text:before {
          content: '下拉刷新';
        }
      }

      &.refresh-state1 {
        .text:before {
          content: '释放立即刷新';
        }
      }

      &.refresh-state2,
      &.refresh-state3 {
        .text:before {
          content: '正在刷新...';
        }
      }

      &.refresh-state3,
      &.refresh-state4 {
        .text:before {
          content: '刷新完成';
        }
      }

      li {
        position: relative;
        display: inline-block;
        width: 33.33333%;
        height: 16rem;

        a {
          position: absolute;
          top: 1rem;
          bottom: 1rem;
          left: 1rem;
          right: 1rem;
          @include box-shadow(0 .1rem .4rem rgba(0,0,0,.4));
          display: block;
          padding: 1rem 1.2rem;
          cursor: pointer;
          background-color: white;

          &.visited {
            opacity: .5;
          }

          $title-height: 2.4rem;

          .thumb {
            position: absolute;
            top: 0;
            bottom: $title-height;
            left: 0;
            right: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
          }

          .title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: $title-height;
            padding: 0 1rem;
            line-height: $title-height;
            text-overflow: ellipsis; 
            overflow: hidden;
            white-space: nowrap;
          }

          &.no-thumb {
            .thumb {
              display: none;
            }

            .title {
              font-size: 3rem;
              line-height: 1.33em;
              top: .3em;
              bottom: .3em;
              left: .5em;
              right: .5em;
              padding: 0;
              height: auto;
              position: absolute;
              white-space: normal;
            }
          }
        }
      }
    }
  }

  .news-view-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    @include transform(translateZ(0));

    .high-screen & {
      left: 0;
    }

    &.ng-enter {
      @include animation(slide-fade-in-right .4s);
    }
    &.ng-leave {
      @include animation(slide-fade-out-right .4s forwards);
    }
  }

  .news-detail {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #eee;

    .news-detail-inner {
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      padding-bottom: 6rem;
      @include user-select(text);

      &.ng-hide-remove {
        @include animation(fade-in .4s);
      }

      .wide-screen & {
        @include box-shadow(0 .1rem .8rem rgba(0,0,0,.4));
        margin-top: 2rem;
        margin-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
      }

      .title {
        text-align: center;
        font-size: 1.9rem;
        padding: 1.2em 0;
      }

      .content {
        font-size: 1.2rem;
        line-height: 1.5em;

        p {
          margin: 1.2rem 0;
          text-indent: 2em;
        }

        img {
          display: block;
          margin: auto;
          max-width: 100%;
        }
      }
    }
  }
}