@import "compass/css3";
@import "common.scss";

#news {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: white;

  .view-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    @include transform(translateZ(0) translateX(0));

    &.ng-enter {
      @include animation(slide-in-right .4s);
    }
    &.ng-leave {
      @include animation(slide-out-right .4s forwards);
    }
  }

  .news-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: white;
    @include transform(translateZ(0));
    opacity: 1;

    &.ng-hide-remove {
      @include animation(fade-in .4s);
    }
    &.ng-hide {
      @include animation(fade-out .4s);
    }

    .news-list-inner {
      padding: 1rem;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      min-height: 100%;
      @include box-sizing(border-box);

      li {
        position: relative;
        float: left;
        width: 33.33333%;
        height: 16rem;

        a {
          position: absolute;
          top: 1rem;
          bottom: 1rem;
          left: 1rem;
          right: 1rem;
          display: block;
          cursor: pointer;

          &.visited {
            opacity: .5;
          }

          $title-height: 2.4rem;

          .thumb {
            position: absolute;
            top: 0;
            bottom: $title-height;
            left: 0;
            right: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
          }

          .title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: $title-height;
            line-height: $title-height;
            text-overflow: ellipsis; 
            overflow: hidden;
            white-space: nowrap;
          }

          &.no-thumb {
            .thumb {
              display: none;
            }

            .title {
              font-size: 3.4rem;
              line-height: 1.33em;
              top: .0;
              bottom: 0;
              left: 0;
              right: 0;
              height: auto;
              position: absolute;
              white-space: normal;
            }
          }
        }
      }
    }
  }

  .news-detail {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: white;
    // @include transform(translateZ(0));

    // &.ng-enter {
    //   @include animation(slide-fade-in-right .4s);
    // }
    // &.ng-leave {
    //   @include animation(slide-fade-out-right .4s forwards);
    // }

    .news-detail-inner {
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      padding-bottom: 6rem;
      @include user-select(text);
      opacity: 1;

      &.ng-hide-remove {
        @include animation(fade-in .4s);
      }

      .wide-screen & {
        margin-top: 2rem;
        margin-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
      }

      .title {
        text-align: center;
        font-size: 1.9rem;
        padding: 1.2em 0;
      }

      .content {
        font-size: 1.2rem;
        line-height: 1.5em;

        p {
          margin: 1.2rem 0;
          text-indent: 2em;
        }

        img {
          display: block;
          margin: auto;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
