<div class="title"><span class="text">{{currentMusic.name}}</span></div>
<ul class="lrc-list">
    <li ng-repeat="lrc in lrcList" ng-show="lrc.time === currentLrc.time">{{lrc.content}}</li>
</ul>
<div class="controls">
    <span class="btn-pre iconfont icon-kuaitui" k-tap="pre()"></span><!--
    --><span class="btn-play-pause iconfont" ng-class="{'icon-bofang1': paused, 'icon-zanting': !paused}" k-tap="paused ? play() : pause()"></span><!--
    --><span class="btn-next iconfont icon-kuaijin" k-tap="next()"></span>
</div>