<div id="home">
  <div class="datetime-box">
  <div class="time">{{time}}</div>
  <div class="date">{{date}}</div>
  <div class="day">{{day}}</div>
  </div>
  <div class="menu-list">
    <div class="k-slider-wrapper" k-model="menuSlider">
      <div class="k-slider">
        <div class="k-slider-section">
          <div class="row">
            <a class="hoverable activable" k-tap="stateGo('music')"><span class="icon iconfont icon-yinleren"></span><span class="text">音乐</span></a><!--
            --><a class="hoverable activable" k-tap="stateGo('news')"><span class="icon iconfont icon-gongsixinwen"></span><span class="text">资讯</span></a>
          </div>
          <div class="row">
            <a class="hoverable activable" k-tap="stateGo('video')"><span class="icon iconfont icon-bofang"></span><span class="text">视频</span></a><!--
            --><a class="hoverable activable" k-tap="stateGo('wallpaper')"><span class="icon iconfont icon-jingmeibizhi"></span><span class="text">壁纸</span></a>
          </div>
        </div><!-- 
        --><div class="k-slider-section">
          <div class="row">
            <a class="hoverable activable" k-tap="stateGo('article')"><span class="icon iconfont icon-wenzhang"></span><span class="text">文章</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-nav">
      <span class="circle" ng-repeat="section in menuSections" ng-class="{active: menuSlider.currentSection === section}" k-tap="menuSlider.gotoSection(section)"></span>
    </div>
  </div>
</div>