/* line 4, ../../scss/admin/login.scss */
#login {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 7, ../../scss/admin/login.scss */
#login .login-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 36em;
  margin: auto;
  padding: 2em;
  -moz-animation: fade-in 2s;
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 17, ../../scss/admin/login.scss */
#login .login-box .big-logo {
  text-align: center;
  height: 100%;
  width: 100%;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  cursor: default;
}
/* line 24, ../../scss/admin/login.scss */
#login .login-box .big-logo img {
  max-width: 100%;
  max-height: 100%;
  width: 36em;
  height: 36em;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 33, ../../scss/admin/login.scss */
#login .login-box .form-login {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 2em;
  height: 1.8em;
}
/* line 42, ../../scss/admin/login.scss */
#login .login-box .form-login input, #login .login-box .form-login .loading {
  height: 100%;
  display: block;
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 51, ../../scss/admin/login.scss */
#login .login-box .form-login input {
  width: 10em;
  border-radius: .9em;
  text-align: center;
  -moz-transition: opacity 0.4s, box-shadow 0.4s;
  -o-transition: opacity 0.4s, box-shadow 0.4s;
  -webkit-transition: opacity 0.4s, box-shadow 0.4s;
  transition: opacity 0.4s, box-shadow 0.4s;
}
/* line 57, ../../scss/admin/login.scss */
#login .login-box .form-login input:focus {
  box-shadow: 0 0 20px blue;
}
/* line 61, ../../scss/admin/login.scss */
#login .login-box .form-login input.hide {
  opacity: 0;
}
/* line 66, ../../scss/admin/login.scss */
#login .login-box .form-login .loading {
  position: absolute;
  left: 0;
  right: 0;
  height: 150%;
}
/* line 72, ../../scss/admin/login.scss */
#login .login-box .form-login .loading.ng-hide-remove {
  -moz-animation: fade-in 0.4s;
  -webkit-animation: fade-in 0.4s;
  animation: fade-in 0.4s;
}
/* line 78, ../../scss/admin/login.scss */
#login .login-box .message {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: .6em;
  font-size: .8em;
}
/* line 85, ../../scss/admin/login.scss */
#login .login-box .message.ng-hide-remove {
  -moz-animation: fade-in 0.4s;
  -webkit-animation: fade-in 0.4s;
  animation: fade-in 0.4s;
}

/* line 92, ../../scss/admin/login.scss */
wahu-login .join-us {
  position: absolute;
  top: 1em;
  right: 1em;
  color: white;
}
